/* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TTNew';
    text-decoration: none;
    font-size: 18px;
}



p,
li,
a {
    text-decoration: none;
    list-style-type: none;
    font-family: 'TT-Para';

}

.bg-config {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: 'TTNew';
}



/* common styles */


/* variable  */

:root {
    /* margin: 20px 10px 10px 0; */
    /* --primary: #EB1700; */
    --primary: #ea1600;
    --secondary: #FFFFFF;
    --hover_color: #FF3008;

    --ash_color: #616161;
}

/* font  */
@font-face {



    font-family: 'TTNew';
    src: url('assets/fonts/new-font/TTNorms-Regular.woff2');

}

@font-face {
    font-family: 'TTNB';
    src: url('assets/fonts/new-font/TTNorms-Bold.otf');
}


@font-face {
    font-family: 'TT-Para';
    src: url('assets/fonts/new-font/TTNorms-Medium.woff2');
}

@font-face {
    font-family: 'TTNew-Bold';
    src: url('assets/fonts/new-font/TTNorms-ExtraBold.woff2');
}

@font-face {
    font-family: 'TTBold';
    src: url('assets/fonts/new-font/TTNorms-Bold.woff2');
}





/* mobile style */
.icon {
    width: 61px;
    aspect-ratio: 1/1;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 7px;
    margin-right: 8px;
    background-color: rgba(255, 253, 253, 0.994);
    padding: 4px;
}

i {
    color: var(--primary);

    font-size: 10px;
}

/* header {

    display: flex;
    justify-content: space-between;
    max-height: 80px;
    margin-top: 16px;

} */

.header-wrapper {
    display: grid;
    height: 80px;
    margin-top: 16px;
    column-gap: 8px;
    max-width: 100%;
    width: 100%;
    padding: 8px;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 1fr auto;
    /* font-family: 'TTBold'; */
    /* padding: 10px 8px 8px 9px; */
}



.rating-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 20px;
    align-items: center;
    padding-left: 2px;

}

.rating-div svg {
    margin: 0 1px;
}

.button-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* height: 80px; */
}

.header-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 62px;
}

.flex-display-align {
    display: flex;
    align-items: center;
}

.header-desc h6 {

    letter-spacing: -0.01px;
    height: 22px;
    font-size: 16px;

    font-family: 'TTNB';
    letter-spacing: -0.05px;
    line-height: 22px;


    white-space: nowrap;

}

.header-desc p {
    font-size: .7778em;
    height: 20px;
    /* margin-bottom: 1px; */
    color: var(--ash_color);
    letter-spacing: -0.03px;
}

.rating-div p {
    margin-left: 4px;
    margin-top: 0;
    padding-top: 0;

}



/* img {
    width: 0;
} */


.icon-container svg {
    border-radius: 12px;
    border: 1px solid #f1f1f1ff;
}

.button-container .open-button {
    font-family: 'TTNB';
    line-height: 22px;
}

.open-button {
    color: var(--secondary);
    background-color: var(--primary);
    border: none;
    font-size: 0.8889em;
    height: 32px;
    /* width: 66.2px; */
    text-align: center;
    border-radius: 18px;
    padding: 0px 10px;
    font-family: 'TTNew';
    font-weight: 800;
    width: 66.2px;
    margin-bottom: 4px;
    /* margin-top: 23px;
    margin-right: 10px; */
    /* position: relative;
    top: 28px;
    right: 10px; */

}

.open-button:hover {
    background-color: var(--hover_color);
    cursor: pointer;
}

#tab-header {
    /* background-color: transparent; */
    /* position: absolute; */
    display: none;
    margin-top: 0;
    height: 48px;
    /* padding-top: 12px;
    padding-bottom: 10px; */
    width: 100%;
}

#tab-header .logo-img {
    width: 32px;
    margin-right: 5px;

}

/* #tab-header .logo-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;

} */

#tab-header .button-div-2 {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 0.72em;
    justify-content: flex-end;
    /* z-index: 18; */
    gap: 8px;

}

/* align-items: center; */
/* padding: 10px; */
/* padding-right: 18px; */





/* main section  */

main#main-section {
    background-image: url('assets/mobile-pic.avif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: cover; */
    position: relative;
    height: 550px;
    padding: 0 8px;
    box-sizing: border-box;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#floating-button {
    /* position: absolute; */
    /* top: 0; */
    height: 40px;
    /* padding: 20px;
    box-sizing: border-box;
    right: 10px; */
    width: 100.8px;
    margin-top: 15.5px;
    font-family: 'TTNB';
    margin-right: 24px;

    color: var(--secondary);
    background-color: var(--primary);
    border: none;
    font-size: 16px;
    text-align: center;
    border-radius: 9999px;
    /* padding: 10px 11px; */
    letter-spacing: -0.01px;
    line-height: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* letter-spacing: -0.01px; */
    /* line-height: 22px; */

}

.floating-button-div {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    justify-content: flex-end;
}

#login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    flex-direction: row;
    background-color: white;
    color: #191919ff;
    border: none;
    line-height: 10px;
    font-family: 'TTNB';
    margin-top: 15.5px;
    margin-right: 8px;
    font-size: 16px;
    /* padding: 0 12.5px; */
    height: 40px;
    width: 66.35px;
    /* min-height: 32px; */
    /* width: auto;
    max-width: 100%; */

}

#main-section .intro {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* margin-top: 20px; */
}

.intro .logo-div {
    display: flex;
    /* justify-content: flex-start; */
    margin: 20px 0;
    /* margin-bottom: 4px; */
    align-items: center;
    /* height: 40px; */
    fill: white;
}

.intro .logo-div svg:nth-child(1) {

    /* width: 38px; */
    /* height: 18px; */
    margin-right: 8px;
}

.intro .logo-div img:nth-child(2) {

    /* max-width: 67%; */
    /* width: 112px;
    padding-left: 5px; */
}

.intro .ad h1 {
    letter-spacing: 0;
    color: white;
    text-align: center;
    font-size: 32px;
    line-height: 28px;
    max-width: 350px;
    font-weight: 900;
    font-family: TTNormsProCond-Blk,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";

    margin-bottom: 24px;
    /* letter-spacing: -1.4px; */
}

.input-div input {

    border: none;
    font-size: 16px;
    color: black;
    outline: none;
    /* padding: 18px; */
    /* max-width: 350px; */
    /* margin-left: 14.9%;
    margin-right: 14.9%; */

}

::placeholder {
    color: black;
}

.input-div {
    display: none;
    margin-top: 24px;
    width: 408px;
    height: 56px;

}

.input-div .div-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

}

.input-div .div-wrapper i {
    font-size: 17px;
    /* width: 24px; */
    /* height: 24px; */
    color: black;
}

.input-wrapper {
    /* margin: 0 20%; */
    display: flex;
    border-radius: 9999px;
    align-items: center;

    justify-content: space-between;
    box-sizing: border-box;
    background-color: #fff;
    padding: 6px 16px;
    /* gap: 5px;s */
    width: 100%;
}

.input-wrapper input {
    margin-left: 10px;
    /* margin-right: 132px; */
}

.input-wrapper-2 {
    display: flex;
    border-radius: 9999px;
    align-items: center;

    /* justify-content: space-between; */

    background-color: #fff;
    /* padding: 6px 16px; */
    width: 100%;
    height: 100%;

}

/* .input-wrapper-2 a {
    border-radius: 9999px;
    color: white;
    background-color: var(--primary);
    border: 2px solid var(--primary);

    display: inline-flex;
    max-width: 40px;
    max-height: 40px;
    padding: 8px;
    justify-content: center;
    align-items: center;
} */

.input-div-2 input {

    border: none;
    font-size: 16px;
    color: black;
    outline: none;
    margin-left: 12px;
    margin-right: 20px;

    /* padding: 18px; */
    /* max-width: 350px; */
    /* margin-left: 14.9%;
    margin-right: 14.9%; */

}

::placeholder {
    color: black;
}

.input-div-2 {

    width: 297.6px;
    /* max-width: 100%; */
    line-height: 22px;
    letter-spacing: -0.01px;
    min-height: 40px;

}

.div-wrapper-2 {
    width: 100%;
    height: 100%;
    padding: 6px 16px;
    background-color: white;
    border-radius: 32px;
}

.input-wrapper-2 {

    text-align: center;
    display: flex;
    height: 40px;
    justify-content: center;
}

.input-wrapper-2>svg:first-child {
    margin-right: 12px;
    max-width: 100%;

}

.input-wrapper-2 input {
    margin: 0 12px 0 auto;
    max-width: 100%;
    flex-grow: 1;
    font-family: 'TT-Para';
    letter-spacing: -0.01px;
    /* line-height: 22px; */

}

.input-wrapper-2 svg:last-child {
    /* margin: 100px; */
    max-width: 100%;
}

.input-wrapper-2 .arrow-div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-div button {
    border: none;
    background-color: inherit;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .button-collection {
    margin-top: 12px;
} */

/* .input-div-2 .div-wrapper-2 i {
    font-size: 17px;
    
    color: black;
} */

.input-div .div-wrapper a {
    border-radius: 9999px;
    color: white;
    background-color: var(--primary);
    border: 2px solid var(--primary);

    display: inline-flex;
    max-width: 40px;
    max-height: 40px;
    padding: 8px;
    justify-content: center;
    align-items: center;
}

.input-div .div-wrapper a i {
    color: white;
    font-size: 20px;
}



.button-collection {
    display: flex;

    justify-content: center;


}

.button-collection button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    background-color: white;
    border-radius: 9999px;
    padding: 5px 10px;
    font-size: 14px;
    letter-spacing: -0.01px;
    line-height: 20px;
    font-family: 'TTNB';
    margin-top: 16px;
    /* font-family: 'TT-Para'; */
}

.button-collection button svg {
    margin-right: 4px;
}

.button-collection button:nth-child(1) {
    width: 81.05px;
}

/* .button-collection button:nth-child(2) {
    width: 180.38px;
} */

.button-collection i {
    color: black;
    font-size: 16px;
    margin-right: 5px;
}













#wrapper-section {
    /* border: 1px solid rgb(230, 225, 225) */
    background-color: #f7f7f7ff;
    text-align: center;
    /* margin: 4% 13%; */
    border-radius: 12px;
    padding: 20px;
    width: 361px;
    /* padding-left: 20px;
    padding-right: 20px; */
    margin: 20px 20px 0 20px;
    height: 161.6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* align-items: center; */


}

#wrapper-section .section-heading-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.section-icon-container {
    border-radius: 12px;
    border: 1px solid #f1f1f1ff;
    display: flex;
    width: 60px;
    height: 60px;
    padding: 8px;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
    /* margin-right: 9px; */
    background-color: white;
}

.section-icon-container svg {
    width: 40px;
    /* aspect-ratio: 1 / 1; */
    height: 40px;
}

.section-heading-desc {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 62px;
}

.section-heading-desc h6 {
    letter-spacing: -0.01px;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    font-family: 'TTNB';
    /* letter-spacing: .35px; */
    /* letter-spacing: .4px; */


}

.section-heading-desc p {

    font-size: .7778em;
    height: 20px;
    /* margin-bottom: 1px; */
    color: var(--ash_color);
    letter-spacing: -0.03px;
    text-align: left;
    /* color: red; */
    margin: 2px 0 0 4px;

}

.section-rating-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
}

.section-rating-div svg {
    margin-right: 2px;
}

.section-rating-div svg:nth-child(1) {
    margin: 0 2px;
}

.section-rating-div p {
    /* margin-left : 4px; */
    /* margin: 0; */
    padding: 0;
    margin: 0 0 0 4px;
}

#wrapper-section .open-button-wrapper {
    width: 100%;
    margin-top: 16px;
}

.open-button-wrapper {
    color: var(--secondary);
    background-color: var(--primary);
    border: none;
    height: 40px;
    width: 318px;
    text-align: center;
    border-radius: 46px;
    padding: 0;
    width: 100%;
    /* margin: 2%; */
    /* margin-top: 16px; */
    font-size: 0.8889em;
    /* margin-bottom: 20px; */
}

#wrapper-section h6 {
    font-size: 1em;
}

.section-container {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* aside img,
.image-container img,
.image-container-2 img,
footer img {
    width: 0;
} */

/* promo section  */

.tab-image {
    display: none;
}

.margin-div {
    width: 4px;
}





.dasher-container {
    margin: 0 auto;
    max-width: 768px;
    /* background-color: red; */

}

.dasher {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    padding: 8px;
}

.promo {
    padding: 16px;
    min-width: 360px;
    max-width: 100%;
    display: flex;
    flex-flow: row;
}

.promo img {
    width: 88px;
    height: 88px;
}

.promo-image {
    margin-right: 32px;
}

.contents {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
}

.contents h2 {
    /* letter-spacing: -0.01px; */
    line-height: 40px;
    font-weight: 700;
    font-size: 32px;
    font-family: 'TT-Para';
    height: 80px;
    text-align: left;
}

.contents p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    /* letter-spacing: -0.01px; */
}

.promo-button-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    align-items: center;

}

.promo-button-wrapper a {
    font-size: 14px;
    color: #eb1700ff;
    line-height: 20px;
    /* letter-spacing: -0.01px; */
    font-weight: 700;
    display: block;
}

.dasher .promo:last-child h2 {
    height: 120px;
}

/* .promo:nth-child(3) h2 {

    height: 120px;
} */



/* image and text section  */



.image-container {
    width: 100%;
    height: 180px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.image-container img {
    width: 100%;
    height: 100%;


    overflow: clip;
    object-position: center center;
    object-fit: cover;



}



.content-wrapper h6 {
    /* margin-top: 21px; */
    margin-bottom: 10px;
    font-size: 1em;
    font-family: 'TTNew';
    line-height: 22px;
    font-weight: 700;
    letter-spacing: -0.03px;
}

.content-wrapper h6::first-letter {
    letter-spacing: -1px;
}






.find-button {
    color: white;
    /* padding: 10px 13px 10px 13px; */

    border-radius: 9999px;
    text-align: center;
    margin-bottom: 30px;
    outline: none;
    border: none;
    font-size: 14px;


    height: 32px;
    letter-spacing: -0.01px;
    background-color: var(--primary);
    line-height: 20px;
    font-family: 'TTNB';



}

.padding12 {
    padding: 0 12.5px
}


.new-find-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);


    /* padding: 20px; */
}

#test-relative {
    margin-bottom: -300px;

}



.new-find-div-div aside {
    display: flex;
    /* grid-row: span 2; */
    /* gap: 60px;
    max-width: 1184px; */
    padding: 20px;
    flex-direction: column;

    /* margin-bottom: -56px; */

}

.new-find-div-div aside h4 {
    /* margin-block-end: 0.83em;
        margin-block-start: 0.83em; */
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
    /* font-family: 'TTNB'; */
    margin-top: 4px;
    line-height: 28px;
    letter-spacing: -0.01px;
    font-weight: 700;
}

.new-find-div-div aside img {
    /* position: relative;
        z-index: 2; */
    width: 100%;
}

.new-find-div h4,
.new-find-div h6,
.carousel h2 span,
.carousel-div h3,
.unlock h2,
.nav h2.header {
    font-family: "TTNB";

}

/* .new-first-aside{
    margin-bottom: -60px;
} */
#new-second-aside-test {
    background: rgb(254, 241, 238);
    /* padding-top: 60px; */
    /* margin-top: 80px; */
    /* margin: 0;
        padding: 0; */
    /* position: relative; */
    /* top: -56px; */
    padding-top: 300px;
    /* background-color: cyan; */
}

/* new-second-aside-test */

#new-second-aside-test aside {
    flex-direction: column;
    /* padding-top: 80px; */
    /* flex-grow: 1; */

}



#test-relative button {
    margin-bottom: 0;
}

.new-find-div-div aside p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    /* margin-top: 20px; */
    font-weight: 500;
    margin-bottom: 20px;

    /* max-width: 90%; */
}



.bg {
    /* all: unset; */
    background: linear-gradient(rgba(30, 30, 30, 0.6), rgba(30, 30, 30, .6)), url(assets/hand-background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    height: 350px;
    /* position: relative;
    top: -75px; */
    text-align: center;
    /* display: grid; */
    /* flex-direction: column; */
    /* grid-template-columns: 1fr;
    align-items: center;
    justify-content: center; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    /* 
    justify-content: center;
    align-items: stretch; */
    /* margin-top: auto ; */

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    object-fit: cover;

    /* place-content: center; */
    /* border: 2px solid cyan; */

}

.bg h2 {
    font-size: 24px;
    margin-top: 20px;
    height: 56px;
    max-width: 90%;
    line-height: 28px;
    letter-spacing: -0.01px;
    font-weight: 700;
    font-family: 'TTNB';
    /* align-self: center; */

}

.bg h6 {
    margin-top: 10px;
    height: 22px;
    letter-spacing: -0.01px;
    font-family: 'TTNB';
    line-height: 22px;
}

.bg p {
    margin-top: 10px;
    font-size: 14px;
    height: 40px;
    font-weight: 500;
    line-height: 20px;
}

.bg button {
    margin-top: 20px;
}

.bg div {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 210px;
    justify-content: center;
    margin: 70px 0;
    max-width: 550px;
}

.bg div button {
    margin-bottom: 0;
    width: 123.9px;
}

.bg+section aside button {
    width: 90.78px;
}




/* convenince store thing  */


.conv .content-wrapper {
    display: flex;
    flex-direction: column;
    /* color: red; */
    text-align: left;
    align-items: center;
}

.carousel {
    margin-top: -10px;
    text-align: center;
    background-color: rgb(254, 241, 238);
    /* margin: 10%; */
    box-sizing: border-box;
    /* margin-top: -75px; */

}

.carousel-div {
    display: flex;

    overflow-x: scroll;
    flex-direction: row;

    /* padding: 20px; */
    /* padding-bottom: 13px; */
    /* margin: 0 0 0 46px; */



}

.carousel .heading-wrapper h2 {
    font-size: 24px;
}

.carousel-div::-webkit-scrollbar {
    display: none;
}

.unlock {
    text-align: center;
    margin: 20px auto 0 auto;
    font-size: 24px;
}

.unlock h2 {
    font-size: 24px;
    padding: 20px;
    line-height: 28px;
}


.image-container-2 {
    /* height: 180px; */
    /* background-color: aqua; */
    overflow: hidden;
    width: 100%;
}

.image-container-2 img {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.carousel-div section {
    margin-left: 5%;
    margin-right: -10%;
    padding: 20px;
    min-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.carousel-div section h3 {
    font-size: 1.33em;
    margin: 20px 0 0;
    max-width: 90%;
    line-height: 28px;
}

.carousel-div section p {
    font-size: 14px;
    font-family: 'TT-Para';
    line-height: 20px;
    letter-spacing: -0.01px;
    margin-top: 10px;
    font-weight: 500;

    /* font-weight: 600; */
}

.carousel-button-div button {
    /* padding: 5px 12px; */
    border-radius: 9999px;
    font-size: 14px;
    border: none;
    background-color: var(--primary);
    color: white;
    margin-top: 20px;
    height: 32px;
    padding: 0 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    line-height: 20px;
    font-family: 'TTNB';

}

.carousel-div section:last-child {
    margin-right: 5%;
    /* color: red; */
}

.heading-wrapper {
    width: 100%;
    padding: 40px 20px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel h2 {
    /* font-size: .9em; */
    /* padding-top: 30px;
    padding-bottom: 30px; */
    font-size: 1.33em;
    max-width: 300px;
    height: 56px;

    /* text-align: center; */
    /* margin: 40px 20px 20px; */
    /* color: red; */


}

.new-find-div aside:last-child .content-wrapper button {
    margin-bottom: 0;
}

.content-wrapper h4 {
    max-width: 90%;
}

.new-find-div aside:last-child .content-wrapper .conv-header~button {
    margin-bottom: 10px;
}

.carousel h2 span {
    /* width: 100%; */
    max-width: 300px;
    height: 56px;
    text-align: center;
    font-size: inherit;
    display: block;

    line-height: 28px;
    letter-spacing: -0.01px;

}

#caution {
    padding-top: 10px;
    font-size: .6667em;
    font-weight: 600;
}

nav {
    padding: 48px 0;
}

nav .header {
    text-align: center;
    font-size: 1em;
    /* margin: 48px auto 20px auto; */
    font-family: 'TTNB';
    font-weight: 700;
    letter-spacing: -0.01px;
    margin-bottom: 20px;
}

.nav-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    cursor: pointer;
}



.nav-div div {

    font-size: 0.8889em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid rgb(241, 241, 241);
    height: 40px;
    font-family: 'TT-Para';
    font-weight: 500;
    color: #606060ff;
    /* font-weight: 500; */
    line-height: 20px;
    letter-spacing: -0.01px;
    /* border-color:  */
}

.nav-div div>* {
    font-size: 16px
}

div.selected {
    border-bottom: 3px solid transparent;
    font-weight: 700;
    color: #111;
    /* line-height: 22px; */
    box-shadow: 0 3px 0 #191919ff
}



.nav-div>div.selected::first-letter {
    color: red;
}

ul.main-tags {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 12px;

}

.main-tags li {
    /* padding-top: 5px; */
    margin: 0;
    height: 22px;
    font-size: 16px;

}

.hidden,
.hiden {
    display: none;
}

#top-cuisine,
#top-chain {
    margin-top: 26px;
}

.extra {
    cursor: pointer;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px 0;
    /* margin: 25px auto 45px auto; */
    /* text-align: center ; */



}

#see-more {
    font-size: 20px;
    font-family: 'TT-Para';
    font-weight: 600;
    margin-right: 8px;
    line-height: 24px;
    letter-spacing: -0.01px;
}



.show-all {
    display: block;
}

#arrow-button {
    display: inline-flex;
    min-height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;

}

#svg-arrow {
    transition: transform 0.3s ease;
}

.rotated {
    transform: rotate(180deg);
}



footer {
    color: white;
    padding-top: 25px;
    background-color: #111;
    padding: 0 20px;

}

.footer-container {

    max-width: 1200px;
    text-align: center;
}


.footer-container p,
.footer-container li {
    font-size: .6em;
    cursor: pointer;
    color: #aaa;

}

footer li:hover,
footer p:hover {
    text-decoration: underline;

}

.footer-container p,
li {
    margin: 0;
}




/* .store-buttons img {
    border-radius: 8px;
    height: 48px;
    width: 144px;
    margin: 10px auto;
    display: block;
} */



#footer-title,
#footer-title-2,
#footer-title-3,
#footer-title-4 {
    font-weight: 600;
    font-size: .62em;
    /* margin-bottom: 13px; */
    /* margin-top: 25px; */
    cursor: auto;
    color: white;
    text-decoration: none;
}





.footer-sections {
    display: grid;
}



.footer-container ul {
    list-style: none;
    padding: 0;

}




.social {
    display: flex;
    justify-content: center;

}

.social li {
    margin: 0;
}

footer svg,
footer img {
    opacity: 0.7;
}




footer svg:hover {
    opacity: 1;
}


#footer-title-5 {
    color: black;
    font-size: .52em;
    /* display: inline-block;
    text-align: center;
    transform: translateY(-8px); */
    margin: 0;


}

.store-buttons {
    display: flex;
    flex-direction: column;
    column-gap: 18px
}

.store-buttons a {
    border-radius: 8px;
    width: 160px;
    height: 52px;

    padding: 2px 8px;
    /* background-color: hsl(0, 0%, 12%); */
    background-color: rgb(76, 76, 76);
}

.store-buttons svg {
    background-color: rgb(76, 76, 76);
    border-radius: 8px;
    /* fill: rgb(196, 196, 196); */
    fill: white;

    /* margin: 8px 12px; */
}

.language-select {
    margin-top: 0;
    background: white;
    /* text-align: center; */
    /* display: inline-block; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0 12px;
    border-radius: 20px;
    height: 32px;
    /* margin-bottom: 10px; */
}

.tos {
    line-height: 10px;
}

/* .tos span {
    font-size: .5em;
    
    margin: 0 5px;
} */


button,
a {
    cursor: pointer;
}

/* for other devices  */
.showOnTab {
    display: none;
}

.social-icons {
    display: flex;
    align-items: center;
}

.nav-div div {
    padding-bottom: 12px;
}

div.selected {
    /* color: red; */
    letter-spacing: 0.1px;
    /* padding-bottom: 11px; */
}

ul.main-tags {
    row-gap: 16px;
}

.store-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0%;
    padding-top: 32px;
}

.store-buttons a:nth-child(2) {
    margin-top: 12px
}

#footer-title,
#footer-title-2,
#footer-title-3,
#footer-title-4 {
    font-size: 16px;
    margin-bottom: 8.5px;
    height: 22px;
    line-height: 22px;
    letter-spacing: -0.01px;
    font-weight: 500;
    margin-top: 0;
}

.footer-container p,
.footer-container li {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    color: rgb(196, 196, 196);
}

.footer-wrapper {
    max-width: 100%;

}

.footer-container {
    /* padding: 0 20px; */
    margin: auto;
    display: flex;
    flex-direction: column;

}

.categories {
    padding: 32px 0;
}

.grid-category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.category-1 {
    padding: 32 0;
    flex: 1 1 0%;

}

.grid-category p,
.footer-section ul li {
    line-height: 20px;
    font-weight: 500;
    height: 20px;
    margin-top: 8px;
}

.footer-section-collection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    flex: 1 1 0%;
}

.footer-section ul {
    display: flex;
    padding-top: 32px;
    flex-direction: column;
}

.footer-bottom {
    text-align: center;
    display: flex;
    padding: 32px 0;
    flex-direction: column;

    color: #aaa;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    margin-left: 12px;
    width: 24px;
    height: 28px;
}

.social li svg {
    width: 24px;
    height: 24px;
    opacity: 0.7;
}

.social li:first-child {
    margin: 0;
}

.language-select {
    /* margin: 12px; */
    font-size: 14px;
    width: 150px;
    justify-content: center;
    align-self: center;
}

.language-select select {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    appearance: none;
    border: none;
    outline: none;
    margin: 0;
}

.language-select svg:first-child {
    margin-right: 8px;
    max-width: 100%;
    height: 24px;
    width: 24px;
    opacity: 1;

}

.language-select svg:nth-child(3) {
    height: 24px;
    max-height: 100%;
    min-height: 8px;
}

.tos {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tos p {
    margin-left: 16px;
    font-size: 12px;
    font-family: 'TT-Para';
    font-weight: 500;
    height: 18px;
    line-height: 18px;
    letter-spacing: -0.01px;


}

#icon-span {
    margin: 0;
}

/* .tos-sections {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */

@media screen and (max-width:480px) {


    #tab-header {
        display: none;
    }

    .button-div-2 {
        display: none;
    }

    nav {
        padding: 24px 16px 22.5px 16px;
    }

    .nav-div div {
        padding-bottom: 12px;
    }

    div.selected {
        /* color: red; */
        letter-spacing: 0.1px;
        /* padding-bottom: 11px; */
    }

    /* ul.main-tags {
        row-gap: 16px;
    }

    .store-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 0%;
        padding-top: 32px;
    }

    .store-buttons a:nth-child(2) {
        margin-top: 12px
    }

    #footer-title,
    #footer-title-2,
    #footer-title-3,
    #footer-title-4 {
        font-size: 16px;
        margin-bottom: 8.5px;
        height: 22px;
        line-height: 22px;
        letter-spacing: -0.01px;
        font-weight: 500;
        margin-top: 0;
    }

    .footer-container p,
    .footer-container li {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.01px;
        color: rgb(196, 196, 196);
    }

    .footer-wrapper {
        max-width: 100%;

    }

    .footer-container {
        padding: 0 20px; //notes
        margin: auto;
        display: flex;
        flex-direction: column;

    }

    .categories {
        padding: 32px 0;
    }

    .grid-category {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 12px;
    }

    .category-1 {
        padding: 32 0;
        flex: 1 1 0%;

    }

    .grid-category p,
    .footer-section ul li {
        line-height: 20px;
        font-weight: 500;
        height: 20px;
        margin-top: 8px;
    }

    .footer-section-collection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 12px;
        flex: 1 1 0%;
    }

    .footer-section ul {
        display: flex;
        padding-top: 32px;
        flex-direction: column;
    }

    .footer-bottom {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        padding: 32px 0;
        flex-direction: column;

        color: #aaa;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social li {
        margin-left: 12px;
        width: 24px;
        height: 28px;
    }

    .social li svg {
        width: 24px;
        height: 24px;
        opacity: 0.7;
    }

    .social li:first-child {
        margin: 0;
    }

    .language-select {
        padding: 12px;
        font-size: 14px;
        width: 150px;
        justify-content: center;
        align-self: center;
    }

    .language-select select {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.01px;
        appearance: none;
        border: none;
        outline: none;
        margin: 0;
    }

    .language-select svg:first-child {
        margin-right: 8px;
        max-width: 100%;
        height: 24px;
        width: 24px;

    }

    .language-select svg:nth-child(3) {
        height: 24px;
        max-height: 100%;
        min-height: 8px;
    }

    .tos {
        margin-top: 12px;
        flex-wrap: wrap;
    }

    .tos p {
        margin-left: 16px;
        font-size: 12px;
        font-family: 'TT-Para';
        font-weight: 500;
        height: 18px;
        line-height: 18px;
        letter-spacing: -0.01px;


    }

    #icon-span {
        margin: 0;
    }

    .tos-sections {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
 */

}

@media screen and (min-width:768px) {

    .input-div {
        /* width: 408px; */
        display: flex;
    }

    .input-wrapper input {
        width: 292px;
    }

    .input-div-2 {
        display: none;
    }

    main#main-section {
        background: url('assets/download.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 650px;
        object-fit: cover;
    }

    .intro .ad h1 {
        max-width: 720px;
        font-size: 1.6em;
        height: 40px;

        transform: translateY(5.5px);

        letter-spacing: -1.4px;
    }

    .intro .logo-div {
        transform: translateY(-222px);
        display: flex;
        align-items: center;


    }

    .section-container {
        display: none;
    }

    #floating-button {
        display: none;
    }

    * {
        font-size: 25px;
    }

    /* header */
    #mobile-header {
        display: none;
    }

    #tab-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* position: absolute;
        top: 12px;
        right: 25px; */
        /* z-index: 10; */
        background-color: transparent;
        padding: 4px 8px;
        padding-right: 0;
    }

    .tab-header-adjustment {
        background-color: white;
        position: sticky;
        top: 0;
    }

    #hide-logo {
        display: none;
    }

    .promo h2 {
        font-size: 32px;
    }

    .promo p {
        font-size: 18px;
    }

    .promo a {
        font-size: 14px;
    }

    .promo img {
        max-width: 124px;
        max-height: 124px;
        /* aspect-ratio: 1/1; */

    }

    .image-container {
        height: 500px;
        margin: 0;
        padding: 0;
        width: 100%;

    }

    .image-container-2 {
        text-align: center;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;

    }




    .image-container-2 img {
        width: 100%;
        height: 100%;
        object-position: center center;
        object-fit: cover;
    }

    .carousel {
        margin-top: -20px;
    }


    .carousel h2 {
        font-size: 1.28em;
        /* padding: 62px 0 40px 0; */
        text-align: center;
        max-width: 100%;
    }

    .carousel h2 span {
        max-width: 500px;
        height: 80px;
    }

    .carousel-div {
        overflow: hidden;
        box-sizing: border-box;
        /* margin: 17px 20px 0 20px; */
        padding: 0;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 0;
        /* gap: 40px; */

    }

    .carousel-div section p {
        font-size: .64em;
        /* margin: 20px; */
        /* font-family: 'TT-Para'; */
        line-height: 21px;
    }

    .carousel-div section h3 {
        font-size: 1.6em;
        max-width: 90%;
        margin: 20px;
        text-align: center;
        line-height: 40px;
    }


    .carousel-div section {
        margin: 0;
    }

    .carousel-button-div button {
        margin-top: 30px;
        font-size: 16px;
        padding: 12px 12px 13px 12px;

        border-radius: 28px;
    }


    #caution {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 0.56em;
    }

    /* finished .carousel div thing and moving to that unlock session  */

    .unlock h2 {
        /* margin-top: 60px; */
        line-height: 40px;
        font-size: 1.28em;
        /* padding: 40px 20px 30px; */

    }

    .test-div .content-wrapper {
        padding: 0;
    }

    .test-div aside {
        gap: 60px;

    }

    #tab-header .button-div-2 a {
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .login {
        font-size: 16px;
    }

    #tab-header .button-div-2 a.login {
        font-size: 16px;
    }

    #tab-header .button-div-2 {
        display: flex;

    }

    #tab-header {
        position: fixed;
        top: 12px;
        right: 25px;
    }

    /* newly started  */


    .new-find-div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        /* padding: 20px; */
    }

    .new-find-div-div aside {
        display: flex;
        /* grid-row: span 2; */
        gap: 60px;
        max-width: 1184px;
        margin: 20px 20px 0px 20px;
        flex-direction: row-reverse;
        /* margin-bottom: -56px; */

    }

    .new-find-div-div aside h4 {
        /* margin-block-end: 0.83em;
            margin-block-start: 0.83em; */
        text-align: left;
        letter-spacing: -0.01px;
    }

    .new-find-div-div aside img {
        /* position: relative;
            z-index: 2; */
        width: 100%;
    }

    /* .new-first-aside{
        margin-bottom: -60px;
    } */
    #new-second-aside-test {
        background: rgb(254, 241, 238);
        /* padding-top: 60px; */
        /* margin-top: 80px; */
        /* margin: 0;
            padding: 0; */
        /* position: relative; */
        /* top: -56px; */
        padding-top: 0;
    }


    #new-second-aside-test aside {
        flex-direction: row;
        padding-top: 80px;
        padding-bottom: 23px;
        /* flex-grow: 1; */


    }

    .new-find-div-div aside p {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.01px;
        /* margin-top: 20px; */
        font-weight: 500;
        /* max-width: 90%; */
    }

    .testing-new {
        /* border: 2px solid black; */
        margin: 0;
        padding: 0;
    }

    .content-wrapper {
        /* border: 1px solid cyan; */
        /* margin-top: 145px; */
        /* justify-content: center; */
        align-items: center;
        display: flex;

    }

    .content-wrapper h4 {
        padding-top: 20px;
    }

    /* .content-wrapper p { */
    /* max-width: 100%; */

    /* } */

    .content-wrapper button {
        margin-top: 30px;
    }

    .content-wrapper h4 {

        font-size: 1.6em;
        line-height: 40px;
        margin: 0 0 20px 0;
        max-width: 90%;
    }

    .content-wrapper p {
        max-width: 100%;
        padding: 0;
    }





    .content-wrapper h6 {

        font-family: 'TT-Para';
        font-size: .8em;
        letter-spacing: 0.5px;
        line-height: 22px;

        /* padding-top: 3px; */

    }

    .find-button {
        margin-bottom: 0;
        margin-top: 0;
    }

    .test-bg {
        width: 100%;
        /* background-color: rgba(30, 30, 30, 30, .6); */
        background: url(assets/hand-background.avif);
    }

    #new-second-aside-test aside {
        padding-bottom: 20px;

    }



    /* .new-find-div::after {
        content: "";
        display: block;

    } */

    .bg div {
        /* display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; */
        box-sizing: border-box;
        max-width: 550px;
        margin-top: 43px;
        /* margin-top: 15px; */

        /* width: 100%;
        height: 100%; */
    }

    .bg div h2 {
        /* all: unset;
        font-size: 40px;
        width: 495px;
        height: 120px; */

        /* justify-content: center;
        align-items: center;
        justify-items: center;
        align-self: center;
        display: flex; */

        /* margin-bottom: 20px;
        margin-top: 20px;
        padding-top: 53px;
        padding-left: 56px; */
        /* margin-left: 25px;
        padding: 0; */
        /* margin-left: 10%; */
        text-align: center;
        box-sizing: border-box;
        margin: 30px 0 0 26px;
        /* margin-top: 25px; */
        /* margin-block-end: .83em;
        margin-block-start: .83em; */
    }

    .bg {
        height: 600px;
    }


    /* for the refineing that relative positioned divs 
     */

    #test-relative {
        /* position: absolute; */
        /* top: -50px; */
        /* top: 50px; */
        margin-bottom: -56px;
    }

    /* margin-top: 20px; */
    /* .content-wrapper h6 {
    } */

    /* margin-top: 10px; */
    /* .content-wrapper p {
    } */

    .find-button {
        /* height: 32px; */
        height: 40px;
        padding: 0;
        margin: 0;
        text-align: center;
        padding: 0 15.5px;
        border-radius: 9999px;
        font-size: 16px;
    }

    .signup {
        color: var(--ash_color);
        background-color: white;
        padding: 0 10px 0 12px;
    }



    /* fooetr thing */


    .categories {

        text-align: left;
        margin: 0;

        padding-top: 32px;
        padding-bottom: 32px;
    }

    .grid-category {
        /* display: grid; */
        /* grid-template-columns: repeat(4, 1fr); */
        display: flex;
        flex-direction: row;
        /* gap: 12px; */
        column-gap: 12px;
    }


    footer {
        padding: 0 22px;
    }

    nav .header {
        font-size: 0.72em;
    }

    nav {
        padding: 48px 0;
    }

    #top-city {
        margin-top: 24px;
        /* gap: 16px; */
    }

    .extra-height {
        min-height: 40px;
    }

    .footer-container p,
    .footer-container li {

        height: 20px;
        font-size: 0.56em;
    }




    #footer-title {
        text-align: left;
        font-family: 'TT-Para';
        margin-top: 0;
        margin-bottom: 20px;
    }

    .category-1,
    .category-2,
    .category-3,
    .category-4 {
        display: grid;
        grid-template-rows: repeat(9, 1fr);
        flex: 1 1 0;
        height: 252px;
    }

    .extra-height {
        min-height: 20px;

    }

    .footer-section-collection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: left;
        justify-content: space-between;
        gap: 26px;
    }

    .footer-section ul {
        max-height: 426px;
        display: grid;
        /* grid-template-rows: repeat(13, 1fr); */
        grid-template-rows: repeat(14, 1fr);
        padding: 32px 0;
        row-gap: 7.9px;
    }

    ul.footer-list-1 {
        row-gap: 8px;
    }

    .footer-bottom {
        display: flex;
        padding: 0;
        margin: 0;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 32px 0;
    }

    .social-icons svg {
        width: 24px;
        /* aspect-ratio: 1/1; */
        height: 24px;
    }

    .social {
        width: 96px;
        justify-content: space-between;
    }
}


@media screen and (min-width:782px) {

    .main-tags {
        grid-template-columns: repeat(3, 1fr);
    }
}



@media screen and (min-width:1184px) {

    /* main#main-section {
        background: url('assets/download.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    } */
    .button-collection {
        font-size: 14px;
    }

    .dasher {
        max-width: 1104px;
        height: 630px;
        /* margin: 96px; */
        padding: 12px;
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    .promo {
        display: flex;
        flex-direction: column;
        text-align: center;
        min-height: 420px;
        height: 420px;
        width: 360px;
        padding: 10px;
        align-items: center;
    }

    .promo-image {

        width: 264px;
        height: 154px;
        /* margin-right: 64px; */
    }

    .promo img {
        max-width: 154px;
        width: 154px;
        max-height: 154px;
        height: 154px;

    }

    .promo-image {
        text-align: center;
    }

    .promo h2 {
        width: 250px;
        line-height: 44px;
        font-family: 'TT-Para';
    }

    .promo p {
        width: 250px;
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 18px;
        text-align: center;
        line-height: 24px;

    }

    .contents {
        margin: 0;
    }





    .contents a {
        font-size: 18px;
    }

    .new-find-div-div aside h4 {
        width: 360px;
        height: 80px;
        padding: 0;
        margin: 20px 0;
        font-family: 'TT-Para';
        line-height: 40px;
        text-decoration: none;
    }

    .new-find-div-div aside p {
        /* margin-top: 20px; */
        width: 400px;
        height: 66px;
        margin-bottom: 0;
    }

    .content-wrapper h6 {
        margin-top: 20px;
        width: 400px;
        height: 24px;
    }

    /* completed the aside section before bg  */
    .bg div h2 {
        max-width: 90%;
        height: 120px;
        margin: 20px 0 0 0;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.65px;
    }

    .bg div p {
        width: 550px;
        height: 44px;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 10px;
        letter-spacing: -0.01px;
    }

    .bg div h6 {
        font-size: 20px;
        margin-top: 20px;
        letter-spacing: -0.3px;
    }

    .bg div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .bg {
        margin-bottom: 40px;
    }

    /* carousel div  */
    .carousel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carousel-div {
        max-width: 1184px;
    }

    /* a */

    /* fro margin and width */
    .new-find-div-div aside h4.conv-header {
        margin-bottom: 0;
        max-width: 80%;
        height: 120px
    }

    .new-find-div-div aside h4.conv-header+p {
        margin-top: 20px;
        height: 44px;
    }

    /* fro that div after carousal div  */
    h4.width80 {
        max-width: 80%;
        height: 120px
    }

    /* footer section  */
    .footer-container p,
    .footer-container li {
        color: rgb(196, 196, 196);
    }

    .footer-bottom span {
        color: white;
    }

    nav h2.header {
        font-size: 32px;
        height: 40px;
        font-family: 'TT-Para';
        letter-spacing: .41px;
        line-height: 40px;
        font-weight: 700;
    }

    #new-second-aside-test .testing-new h4 {
        height: 120px;
    }

    nav {
        margin: 0 auto;
        max-width: 1130px;
    }

    .main-tags {
        grid-template-columns: repeat(4, 1fr);
    }

    div.extra {
        padding: 22px 0 10px 0;
    }

    #see-more {
        padding-right: 8px;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.2px;
    }

    .nav-div span {
        font-size: 16px;
        font-family: 'TTNew';
        letter-spacing: 0.5px;
        margin-top: 2px;
    }

    div.categories {
        margin: 0 12px;
        height: 346px;
    }

    .footer-sections {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;


        padding: 0 12px;
        /*margin: 0 20px; */
    }

    .footer-section-collection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

    .store-buttons {
        padding-top: 32px;
    }

    .store-buttons a:nth-child(2) {
        margin-top: 12px;
    }

    .language-select {
        display: none;
    }

    /* #icon-span { */

    /* display: flex;
        align-items: center;
        justify-content: center; */
    /* } */

    /* #icon-span img {
        width: 40px;
        height: 58px;
    } */
    /* .footer-section ul { */


    /* margin: 0 20px; */
    /* margin: 0 12px; */
    /* } */
    #footer-title {

        margin-bottom: 18px;
    }

    #footer-title-2,
    #footer-title-3,
    #footer-title-4,
    #footer-title {

        letter-spacing: 0.22px;
        font-weight: 100;
    }

    #footer-title-2,
    #footer-title-3,
    #footer-title-4 {
        margin-bottom: 10px;
        margin-top: 0;
    }

    .tos {
        display: flex;
        justify-content: left;
        width: 100%;
        align-items: center;
        /* padding: 0 12px; */
    }

    .tos span {
        margin: 0 16px 0 0;
    }

    #icon-span {
        margin-left: 0;
    }

    .footer-bottom {
        padding: 32px 12px;
        height: 92px;
    }

    footer {
        display: flex;
        justify-content: left;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
    }
}

/* fill:rgb(196, 196, 196) bg:737373 */
/* removed */
/* .find-2 {
    position: relative;
    top: -60px;
} */