/* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TTNew';
    text-decoration: none;
    font-size: 18px;
}
p,
li,
a {
    text-decoration: none;
    list-style-type: none;
    font-family: 'TT-Para';

}

.bg-config {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: 'TTNew';
}

:root {
   
    --primary: #ea1600;
    --secondary: #FFFFFF;
    --hover_color: #FF3008;

    --ash_color: #616161;
}

/* font  */
@font-face {
    font-family: 'TTNew';
    src: url('assets/fonts/new-font/TTNorms-Regular.woff2');
}

@font-face {
    font-family: 'TTNB';
    src: url('assets/fonts/new-font/TTNorms-Bold.otf');
}


@font-face {
    font-family: 'TT-Para';
    src: url('assets/fonts/new-font/TTNorms-Medium.woff2');
}

@font-face {
    font-family: 'TTNew-Bold';
    src: url('assets/fonts/new-font/TTNorms-ExtraBold.woff2');
}

@font-face {
    font-family: 'TTBold';
    src: url('assets/fonts/new-font/TTNorms-Bold.woff2');
}

.icon {
    width: 61px;
    aspect-ratio: 1/1;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 7px;
    margin-right: 8px;
    background-color: rgba(255, 253, 253, 0.994);
    padding: 4px;
}

i {
    color: var(--primary);
    font-size: 10px;
}

.header-wrapper {
    display: grid;
    height: 80px;
    margin-top: 16px;
    column-gap: 8px;
    max-width: 100%;
    width: 100%;
    padding: 8px;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 1fr auto;
}

.rating-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 20px;
    align-items: center;
    padding-left: 2px;
}

.rating-div svg {
    margin: 0 1px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 62px;
}

.flex-display-align {
    display: flex;
    align-items: center;
}

.header-desc h6 {

    letter-spacing: -0.01px;
    height: 22px;
    font-size: 16px;
    font-family: 'TTNB';
    letter-spacing: -0.05px;
    line-height: 22px;
    white-space: nowrap;

}

.header-desc p {
    font-size: .7778em;
    height: 20px;
    color: var(--ash_color);
    letter-spacing: -0.03px;
}

.rating-div p {
    margin-left: 4px;
    margin-top: 0;
    padding-top: 0;

}

.icon-container svg {
    border-radius: 12px;
    border: 1px solid #f1f1f1ff;
}

.button-container .open-button {
    font-family: 'TTNB';
    line-height: 22px;
}

.open-button {
    color: var(--secondary);
    background-color: var(--primary);
    border: none;
    font-size: 0.8889em;
    height: 32px;
    text-align: center;
    border-radius: 18px;
    padding: 0px 10px;
    font-family: 'TTNew';
    font-weight: 800;
    width: 66.2px;
    margin-bottom: 4px;

}

.open-button:hover {
    background-color: var(--hover_color);
    cursor: pointer;
}

#tab-header {
    display: none;
    margin-top: 0;
    height: 48px;
    width: 100%;
}

#tab-header .logo-img {
    width: 32px;
    margin-right: 5px;

}

#tab-header .button-div-2 {
    width: 100%;
    text-align: center;
    font-size: 0.72em;
    justify-content: flex-end;
    gap: 8px;

}

/* main section  */

main#main-section {
    background-image: url('assets/mobile-pic.avif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 550px;
    padding: 0 8px;
    box-sizing: border-box;
}

#floating-button {
    height: 40px;
    width: 100.8px;
    margin-top: 15.5px;
    font-family: 'TTNB';
    margin-right: 24px;

    color: var(--secondary);
    background-color: var(--primary);
    border: none;
    font-size: 16px;
    text-align: center;
    border-radius: 9999px;
    letter-spacing: -0.01px;
    line-height: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.floating-button-div {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    justify-content: flex-end;
}

#login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    flex-direction: row;
    background-color: white;
    color: #191919ff;
    border: none;
    line-height: 10px;
    font-family: 'TTNB';
    margin-top: 15.5px;
    margin-right: 8px;
    font-size: 16px;
    height: 40px;
    width: 66.35px;
}

#main-section .intro {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.intro .logo-div {
    display: flex;
    margin: 20px 0;
    align-items: center;
    fill: white;
}

.intro .logo-div svg:nth-child(1) {
    margin-right: 8px;
}

.intro .ad h1 {
    letter-spacing: 0;
    color: white;
    text-align: center;
    font-size: 32px;
    line-height: 28px;
    max-width: 350px;
    font-weight: 900;
    font-family: TTNormsProCond-Blk,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";

    margin-bottom: 24px;
}

.input-div input {

    border: none;
    font-size: 16px;
    color: black;
    outline: none;
}

::placeholder {
    color: black;
}

.input-div {
    display: none;
    width: 408px;
    height: 56px;

}

.input-div .div-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

}

.input-div .div-wrapper i {
    font-size: 17px;
    color: black;
}

.input-wrapper {
    display: flex;
    border-radius: 9999px;
    align-items: center;

    justify-content: space-between;
    box-sizing: border-box;
    background-color: #fff;
    padding: 6px 16px;
    width: 100%;
}

.input-wrapper input {
    margin-left: 10px;
}

.input-wrapper-2 {
    display: flex;
    border-radius: 9999px;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 100%;

}


.input-div-2 input {

    border: none;
    font-size: 16px;
    color: black;
    outline: none;
    margin-left: 12px;
    margin-right: 20px;
}

::placeholder {
    color: black;
}

#signup,
#for-saved-address {
    display: none;
}


.input-div-2 {

    width: 297.6px;
    line-height: 22px;
    letter-spacing: -0.01px;
    min-height: 40px;

}

.div-wrapper-2 {
    width: 100%;
    height: 100%;
    padding: 6px 16px;
    background-color: white;
    border-radius: 32px;
}

.input-wrapper-2 {

    text-align: center;
    display: flex;
    height: 40px;
    justify-content: center;
}

.input-wrapper-2>svg:first-child {
    margin-right: 12px;
    max-width: 100%;

}

.input-wrapper-2 input {
    margin: 0 12px 0 auto;
    max-width: 100%;
    flex-grow: 1;
    font-family: 'TT-Para';
    letter-spacing: -0.01px;

}

.input-wrapper-2 svg:last-child {
    max-width: 100%;
}

.input-wrapper-2 .arrow-div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-div button {
    border: none;
    background-color: inherit;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.input-div .div-wrapper a {
    border-radius: 9999px;
    color: white;
    background-color: var(--primary);
    border: 2px solid var(--primary);

    display: inline-flex;
    max-width: 40px;
    max-height: 40px;
    padding: 8px;
    justify-content: center;
    align-items: center;
}

.input-div .div-wrapper a i {
    color: white;
    font-size: 20px;
}



.button-collection {
    display: flex;
    justify-content: center;
}

.button-collection button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    background-color: white;
    border-radius: 9999px;
    padding: 5px 10px;
    font-size: 14px;
    letter-spacing: -0.01px;
    line-height: 20px;
    font-family: 'TTNB';
    margin-top: 16px;

}

.button-collection button svg {
    margin-right: 4px;
}

.button-collection button:nth-child(1) {
    width: 81.05px;
}

.button-collection i {
    color: black;
    font-size: 16px;
    margin-right: 5px;
}

#wrapper-section {

    background-color: #f7f7f7ff;
    text-align: center;

    border-radius: 12px;
    padding: 20px;
    width: 361px;

    margin: 20px 20px 0 20px;
    height: 161.6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#wrapper-section .section-heading-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.section-icon-container {
    border-radius: 12px;
    border: 1px solid #f1f1f1ff;
    display: flex;
    width: 60px;
    height: 60px;
    padding: 8px;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.section-icon-container svg {
    width: 40px;

    height: 40px;
}

.section-heading-desc {
    display: flex;
    flex-direction: column;

    height: 62px;
}

.section-heading-desc h6 {
    letter-spacing: -0.01px;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    font-family: 'TTNB';



}

.section-heading-desc p {

    font-size: .7778em;
    height: 20px;
    color: var(--ash_color);
    letter-spacing: -0.03px;
    text-align: left;
    margin: 2px 0 0 4px;

}

.section-rating-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
}

.section-rating-div svg {
    margin-right: 2px;
}

.section-rating-div svg:nth-child(1) {
    margin: 0 2px;
}

.section-rating-div p {

    padding: 0;
    margin: 0 0 0 4px;
}

#wrapper-section .open-button-wrapper {
    width: 100%;
    margin-top: 16px;
}

.open-button-wrapper {
    color: var(--secondary);
    background-color: var(--primary);
    border: none;
    height: 40px;
    width: 318px;
    text-align: center;
    border-radius: 46px;
    padding: 0;
    width: 100%;

    font-size: 0.8889em;
}

#wrapper-section h6 {
    font-size: 1em;
}

.section-container {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* promo section  */

.tab-image {
    display: none;
}

.margin-div {
    width: 4px;
}

/* image and text section  */
.image-container {
    width: 100%;
    height: 180px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 20px;
    max-width: 724px;
}

.image-container img {
    width: 100%;
    height: 100%;


    overflow: clip;
    object-position: center center;
    object-fit: cover;
}
    .content-wrapper h6 {

    margin-bottom: 10px;
    font-size: 1em;
    font-family: 'TTNew';
    line-height: 22px;
    font-weight: 700;
    letter-spacing: -0.03px;
}

.content-wrapper h6::first-letter {
    letter-spacing: -1px;
}


.find-button {
    color: white;
    border-radius: 9999px;
    text-align: center;
    margin-bottom: 30px;
    outline: none;
    border: none;
    font-size: 14px;


    height: 32px;
    letter-spacing: -0.01px;
    background-color: var(--primary);
    line-height: 20px;
    font-family: 'TTNB';



}

.padding12 {
    padding: 0 12.5px
}


.new-find-div {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(1, 1fr);



}

#test-relative {
    margin-bottom: -300px;

}



.new-find-div-div aside {
    display: flex;
    max-width: 100%;
    padding: 20px;
    flex-direction: column;

}

.new-find-div-div aside h4 {

    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;

    margin-top: 4px;
    line-height: 28px;
    letter-spacing: -0.01px;
    font-weight: 700;
}

.new-find-div-div aside img {

    width: 100%;
}

.new-find-div h4,
.new-find-div h6,
.carousel h2 span,
.carousel-div h3,
.nav h2.header {
    font-family: "TTNB";

}

#new-second-aside-test {

    padding-top: 300px;
}
#new-second-aside-test aside {
    flex-direction: column;
    background-color: rgb(254, 241, 238);
    ;


}



#test-relative button {
    margin-bottom: 0;
}

.new-find-div-div aside p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    /* margin-top: 20px; */
    font-weight: 500;
    margin-bottom: 20px;

}



.bg {

    background: linear-gradient(rgba(30, 30, 30, 0.6), rgba(30, 30, 30, .6)), url(assets/hand-background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    height: 350px;

    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;


    box-sizing: border-box;
    padding: 0;
    margin: 0;
    object-fit: cover;



}

.bg h2 {
    font-size: 24px;
    margin-top: 20px;
    height: 56px;
    max-width: 90%;
    line-height: 28px;
    letter-spacing: -0.01px;
    font-weight: 700;
    font-family: 'TTNB';
    /* align-self: center; */

}

.bg h6 {
    margin-top: 10px;
    height: 22px;
    letter-spacing: -0.01px;
    font-family: 'TTNB';
    line-height: 22px;
}

.bg p {
    margin-top: 10px;
    font-size: 14px;
    height: 40px;
    font-weight: 500;
    line-height: 20px;
}

.bg button {
    margin-top: 20px;
}

.bg div {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 210px;
    justify-content: center;
    margin: 70px 0;
    max-width: 550px;
}

.bg div button {
    margin-bottom: 0;
    width: 123.9px;
}

.bg+section aside button {
    width: 90.78px;
}




/* convenince store thing  */


.conv .content-wrapper {
    display: flex;
    flex-direction: column;
    /* color: red; */
    text-align: left;
    align-items: center;
}

.carousel {
    margin-top: -10px;
    text-align: center;
    background-color: rgb(254, 241, 238);
    /* margin: 10%; */
    box-sizing: border-box;
    /* margin-top: -75px; */

}

.carousel-div {
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
}

.carousel .heading-wrapper h2 {
    font-size: 24px;
}

.carousel-div::-webkit-scrollbar {
    display: none;
}

.unlock {
    text-align: center;
    margin: 20px auto 0 auto;
    font-size: 24px;
}

.unlock h2 {
    font-size: 24px;
    padding: 20px;
    line-height: 28px;
}


.image-container-2 {

    overflow: hidden;
    width: 100%;
}

.image-container-2 img {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.carousel-div section {
    margin-left: 5%;
    margin-right: -10%;
    padding: 20px;
    min-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.carousel-div section h3 {
    font-size: 1.33em;
    margin: 20px 0 0;
    max-width: 90%;
    line-height: 28px;
}

.carousel-div section p {
    font-size: 14px;
    font-family: 'TT-Para';
    line-height: 20px;
    letter-spacing: -0.01px;
    margin-top: 10px;
    font-weight: 500;

    /* font-weight: 600; */
}

.carousel-button-div button {
    /* padding: 5px 12px; */
    border-radius: 9999px;
    font-size: 14px;
    border: none;
    background-color: var(--primary);
    color: white;
    margin-top: 20px;
    height: 32px;
    padding: 0 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    line-height: 20px;
    font-family: 'TTNB';

}

.carousel-div section:last-child {
    margin-right: 5%;
    /* color: red; */
}

.heading-wrapper {
    width: 100%;
    padding: 40px 20px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel h2 {

    font-size: 1.33em;
    max-width: 300px;
    height: 56px;




}

.new-find-div aside:last-child .content-wrapper button {
    margin-bottom: 0;
}

.content-wrapper h4 {
    max-width: 90%;
}

.new-find-div aside:last-child .content-wrapper .conv-header~button {
    margin-bottom: 10px;
}

.carousel h2 span {
    /* width: 100%; */
    max-width: 300px;
    height: 56px;
    text-align: center;
    font-size: inherit;
    display: block;

    line-height: 28px;
    letter-spacing: -0.01px;

}

#caution {
    padding-top: 10px;
    font-size: .6667em;
    font-weight: 600;
}

nav {
    padding: 48px 0;
}

nav .header {
    text-align: center;
    font-size: 1em;

    font-family: 'TTNB';
    font-weight: 700;
    letter-spacing: -0.01px;
    margin-bottom: 20px;
    line-height: 22px;
}

.nav-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    cursor: pointer;
}



.nav-div div {

    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid rgb(241, 241, 241);
    height: 40px;
    font-family: 'TT-Para';
    font-weight: 500;
    color: #606060ff;
    line-height: 20px;
    letter-spacing: -0.01px;
}

.nav-div div>* {
    font-size: 16px
}

div.selected {
    border-bottom: 3px solid #191919ff;
    font-weight: 700;
    color: #111;

}
ul.main-tags {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 12px;

}

.main-tags li {
    margin: 0;
    height: 22px;
    font-size: 16px;

}

.hidden,
.hiden {
    display: none;
}

#top-cuisine,
#top-chain {
    margin-top: 26px;
}

.extra {
    cursor: pointer;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px 0;
}

#see-more {
    font-size: 20px;
    font-family: 'TT-Para';
    font-weight: 600;
    margin-right: 8px;
    line-height: 24px;
    letter-spacing: -0.01px;
}



.show-all {
    display: block;
}

#arrow-button {
    display: inline-flex;
    min-height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;

}

#svg-arrow {
    transition: transform 0.3s ease;
}

.rotated {
    transform: rotate(180deg);
}



footer {
    color: white;
    padding-top: 25px;
    /* background-color: #111; */
    padding: 0 20px;
    width: 100%;

}

.footer-container {

    max-width: 1200px;
    text-align: center;
}


.footer-container p,
.footer-container li {
    font-size: .6em;
    cursor: pointer;
    color: #aaa;

}

footer li:hover,
footer p:hover {
    text-decoration: underline;

}

.footer-container p,
li {
    margin: 0;
}



#footer-title,
#footer-title-2,
#footer-title-3,
#footer-title-4 {
    font-weight: 600;
    font-size: .62em;
    /* margin-bottom: 13px; */
    /* margin-top: 25px; */
    cursor: auto;
    color: white;
    text-decoration: none;
}





.footer-sections {
    display: grid;
}



.footer-container ul {
    list-style: none;
    padding: 0;

}




.social {
    display: flex;
    justify-content: center;

}

.social li {
    margin: 0;
}


footer svg:hover {
    opacity: 1;
}


#footer-title-5 {
    color: black;
    font-size: .52em;
    margin: 0;


}

.store-buttons {
    display: flex;
    flex-direction: column;
    column-gap: 18px
}

.store-buttons a {
    border-radius: 8px;
    width: 160px;
    height: 52px;

    padding: 2px 8px;
    color: black;

    background-color: rgb(73, 73, 73);
}

.store-buttons svg {
    /* background-color: rgb(76, 76, 76); */
    border-radius: 8px;
    fill: white;
    color: black;


}

.language-select {
    margin-top: 0;
    background: white;



    font-size: 14px;
    width: 150px;
    justify-content: center;
    align-self: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0 12px;
    border-radius: 20px;
    height: 32px;
    position: relative;

}

.tos p {
    line-height: 10px;
}


button,
a {
    cursor: pointer;
}

/* for other devices  */
.showOnTab {
    display: none;
}

.social-icons {
    display: flex;
    align-items: center;
}

.nav-div div {
    padding-bottom: 12px;
}

div.selected {
    /* color: red; */
    letter-spacing: 0.1px;
    /* padding-bottom: 11px; */
}

ul.main-tags {
    row-gap: 16px;
}

.store-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0%;
    padding-top: 32px;
}

.store-buttons a:nth-child(2) {
    margin-top: 12px
}

#footer-title,
#footer-title-2,
#footer-title-3,
#footer-title-4 {
    font-size: 16px;
    margin-bottom: 8.5px;
    height: 22px;
    line-height: 22px;
    letter-spacing: -0.01px;
    font-weight: 500;
    margin-top: 0;
}

.footer-container p,
.footer-container li {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    color: rgb(196, 196, 196);
}

.footer-wrapper {
    max-width: 100%;
    flex: 1 1 0%;

}

.entire-footer-container {
    background-color: #191919ff;
}

.entire-footer-wrapper {
    /* width: 1184px; */
    width: 100%;
    /* background-color: #191919ff; */

}

.footer-container {
    /* padding: 0 20px; */
    margin: auto;
    display: flex;
    flex-direction: column;

}

.categories {
    padding: 32px 0;
}

.grid-category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.category-1 {

    flex: 1 1 0%;

}

.grid-category p,
.footer-section ul li {
    line-height: 20px;
    font-weight: 500;
    height: 20px;
    margin-top: 8px;
}

.footer-section-collection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    flex: 1 1 0%;
}

.footer-section ul {
    display: flex;
    padding-top: 32px;
    flex-direction: column;
}

.footer-bottom {
    text-align: center;
    display: flex;
    padding: 32px 0;
    flex-direction: column-reverse;

    color: #aaa;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    margin-left: 12px;
    width: 24px;
    height: 28px;
}

.social li svg {
    width: 24px;
    height: 24px;
    opacity: 0.7;
}

.social li:first-child {
    margin: 0;
}


.global-icon {
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 8px;
    position: relative;
    left: 7px;
}

.language-select select {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    appearance: none;
    border: none;
    outline: none;
    margin: 0;
    position: relative;
    left: 9px;
    font-weight: 600;
    color: rgb(25, 25, 25);
}

.global-icon svg {

    height: 24px;
    width: 24px;
    opacity: 1;

}

.arrow-container {
    display: flex;
    align-items: center;
    height: 24px;
    max-height: 100%;
    min-height: 8px;
    position: relative;
    right: 7px;
    /* top: 0; */
    /* bottom: 0; */
    /* right: 10px ; */
}

.language-select svg:nth-child(3) {
    height: 24px;
    max-height: 100%;
    min-height: 8px;
}

.tos {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tos p {
    margin-left: 16px;
    font-size: 12px;
    font-family: 'TT-Para';
    font-weight: 500;
    height: 18px;
    line-height: 18px;
    letter-spacing: -0.01px;


}

#icon-span {
    margin: 0;
}




/* testing area  */

.dasher-wrapper {
    max-width: 768px;
    margin: 0px auto;

}

.dasher-container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: row;
    margin: 40px 0;
    padding: 0 8px;
    max-width: 100%;
}

.dasher-new {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    width: fit-content;
}

.promo {
    display: flex;

    width: 100%;
    min-width: 360px;
    flex-flow: row;
    padding: 16px;
    max-width: 100%;
}

.new-image-container {
    margin-right: 32px;
}

.new-image-container img {
    width: 88px;
    height: 88px;
}

.new-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
}

.new-contents {

    max-width: 100%;
}

.new-contents h2 {
    font-size: 32px;
    font-family: 'TT-Para';
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.26px;
}

.new-contents p {
    margin-top: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

}

.promo-button-wrapper {
    margin-top: 12px;
    display: flex;
    align-items: center;

}

.promo-button-wrapper a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: var(--primary);
}



main#main-section::after {
    content: "";
    height: 72px;
    width: 100%;
}

@media screen and (max-width:480px) {


    #tab-header {
        display: none;
    }

    #tab-header .button-div-2 a {
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .login {
        font-size: 16px;
    }

    #tab-header .button-div-2 a.login {
        font-size: 16px;
    }

    #tab-header .button-div-2 {
        display: flex;

    }

    #tab-header {
        position: fixed;
        top: 12px;
        right: 25px;
    }


    nav {
        padding: 24px 16px 22.5px 16px;
    }

    .nav-div div {
        padding-bottom: 12px;
    }

    div.selected {

        letter-spacing: 0.1px;
    }



}

@media screen and (min-width:768px) {
    div.ad::before {
        content: "";
        height: 50px;
        width: 100%;
        display: block;
    }

    .mobile-image {
        display: none;
    }

    .tab-image {
        display: block;
    }

    div.floating-button-div {
        display: none;
    }



    #tab-header {
        display: flex;
        position: fixed;
        top: 12px;
        right: 24px;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        background-color: transparent;
        padding: 4px 8px;
        font-weight: 700;
        letter-spacing: -0.01px;
        line-height: 22px;
        padding-right: 0;
    }

    #tab-header .button-div-2 {
        display: flex;

    }

    #tab-header .button-div-2 button {
        font-size: 1em;
        min-height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 81.54px;
        margin: 0;
        padding: 0;
        line-height: 10px;
    }

    #tab-header .button-div-2 button.signup {
        width: 90px;
    }







    main#main-section {
        background: url('assets/hero_mobile.avif');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 650px;
        padding: 0 8px;

    }


    .input-div {
        /* width: 408px; */
        display: flex;
    }

    .input-wrapper input {
        width: 292px;
    }

    .input-div-2 {
        display: none;
    }


    .intro .ad h1 {
        max-width: 750px;
        font-size: 1.6em;
        /* letter-spacing: -1.4px; */
        line-height: 40px;
    }

    .intro .logo-div {
        transform: translateY(-182px);
        /* margin: 24px 0; */
        margin: 0;
        display: flex;
        align-items: center;


    }

    .section-container {
        display: none;
    }

    #floating-button {
        display: none;
    }

    * {
        font-size: 25px;
    }

    /* header */
    #mobile-header {
        display: none;
    }


    .tab-header-adjustment {
        background-color: white;
        position: sticky;
        top: 0;
    }

    #hide-logo {
        display: none;
    }

    .new-image-container img {
        height: 124px;
        width: 124px;
    }

    .new-image-container {
        margin-right: 64px;
    }

    .dasher-container {
        margin: 42px 0;
    }

    .new-find-div {
        display: flex;
        /* max-width: 1184px; */
        flex-direction: column;
    }

    #test-relative {
        margin-bottom: 0;
    }

    .new-find-div-div {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .new-find-div-div aside {
        display: flex;
        align-items: center;
        gap: 60px;
        justify-content: center;
        flex-direction: row-reverse;

    }

    #new-second-aside-test aside {
        display: flex;
        flex-direction: row;
        padding: 80px 20px 20px 20px;
    }

    #new-second-aside-test {
        padding-top: 0;
    }

    .new-find-div-div .content-wrapper {
        display: flex;
        flex-direction: column;
        /* height: 290px; */
        max-width: 400px;


    }

    .new-find-div-div .content-wrapper h4 {

        font-size: 40px;
        letter-spacing: -0.01px;
        line-height: 40px;

        margin-bottom: 20px;
        margin-top: 20px;
    }

    .new-find-div-div .content-wrapper h6 {
        /* margin-top: 20px; */
        font-size: 20px;
        line-height: 24px;
        font-weight: 900;
        height: 24px;
        font-family: 'TTNew';
        margin-bottom: 0;
        letter-spacing: 0.5px;
    }


    .new-find-div-div .content-wrapper p {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: -0.01px;
        text-align: left;
        margin: 10px 0 0 0;
    }

    .new-find-div-div .content-wrapper button {
        margin-top: 30px;
        padding: 0 12.5px;
        /* padding: 0; */
    }



    .new-find-div-div:has(aside.conv) {
        margin: 0 0 -17.6px;
        padding-top: 40px;
    }

    .bg+section aside button {
        width: auto;
    }

    .image-container {
        height: 500px;
        margin: 0;
        padding: 0;
        width: 100%;

    }

    .image-container-2 {
        text-align: center;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;

    }

    .image-container img {
        position: relative;
        z-index: 3;
    }




    .image-container-2 img {
        width: 100%;
        height: 100%;
        object-position: center center;
        object-fit: cover;

    }

    .carousel {
        /* background-color: red; */
        margin-top: -20px;
    }

    .heading-wrapper {
        width: 100%;
        padding: 60px 20px 40px;
    }

    .carousel h2 {

        /* padding: 62px 0 40px 0; */
        text-align: center;
        max-width: 100%;

        height: auto
    }

    .carousel h2 span {
        max-width: 500px;
        font-size: 32px;
        height: auto;
        letter-spacing: -0.01px;
        line-height: 41px;

    }

    .carousel-div {
        overflow: hidden;
        box-sizing: border-box;
        /* margin: 17px 20px 0 20px; */
        display: grid;
        padding: 0;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 0;
        /* gap: 40px; */

    }

    .carousel-div section p {
        font-size: .64em;
        /* line-height: 21px; */
        margin-top: 0;
        font-weight: 500;

    }

    .carousel-div section h3 {
        font-size: 1.6em;
        max-width: 90%;
        margin: 20px;
        text-align: center;
        line-height: 40px;
    }


    .carousel-div section {
        max-width: 1184px;
        margin: 0;
    }

    .carousel-button-div button {
        margin-top: 30px;
        font-size: 16px;
        padding: 12px 12px 13px 12px;
        line-height: 20px;
        border-radius: 28px;
        min-height: 40px;
    }

    .carousel-div section:last-child {
        margin-right: 0;
    }

    #caution {
        margin-top: 20px;
        /* margin-bottom: 20px; */
        padding: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        font-size: 0.56em;
    }



    .carousel-div section:nth-child(3) p,
    .carousel-div section:nth-child(4) p {
        /* color: red; */
        line-height: 22px;
    }

    /* finished .carousel div thing and moving to that unlock session  */


    .unlock {
        padding: 61px 20px 39px;
        display: flex;
        margin: 0;
        width: 100%;
        justify-content: center;
    }

    .unlock h2 {
        /* margin-top: 60px; */
        text-align: center;
        line-height: 40px;
        font-size: 1.28em;
        font-family: 'TT-Para';
        width: 500px;
        font-size: 32px;
        font-weight: 600;

        letter-spacing: 0.5px;
        padding: 0;
        /* padding: 40px 20px 30px; */

    }

    .test-div .content-wrapper {
        padding: 0;
    }

    .test-div aside {
        gap: 60px;

    }


    /* newly started  */

    .bg {
        width: 100%;
        height: 600px;
    }

    .bg div {

        box-sizing: border-box;
        /* max-width: 550px; */
        width: 100%;
        max-height: 100%;
        margin: 0;
        height: auto;
        width: auto;

    }

    .bg div h2 {


        text-align: center;


        line-height: 40px;
        height: auto;
        font-size: 40px;

    }

    .bg div h6 {
        font-weight: 500;
        font-size: 20px;
        margin-top: 20px;
        height: 24px;
        line-height: 24px;
    }

    .bg div p {
        font-size: 16px;

        line-height: 22px;
        height: auto;
    }

    .bg div button {
        margin-top: 30px;
        width: auto;
        padding: 0 12.5px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* for the refineing that relative positioned divs 
     */

    #test-relative {

        margin-bottom: -56px;

    }


    .find-button {
        /* height: 32px; */
        height: 40px;
        padding: 0;
        margin: 0;
        text-align: center;
        padding: 0 15.5px;
        border-radius: 9999px;
        font-size: 16px;
    }

    .signup {
        color: var(--ash_color);
        background-color: white;
        padding: 0 10px 0 12px;
    }



    /* fooetr thing */


    .categories {

        text-align: left;
        margin: 0;

        padding-top: 32px;
        padding-bottom: 32px;
    }

    .grid-category {

        display: flex;
        flex-direction: row;
        /* gap: 12px; */
        column-gap: 12px;
    }


    footer {
        padding: 0 20px;
        max-width: 1160px;
        margin: auto;
    }

    nav .header {
        font-size: 0.72em;
    }

    nav {
        padding: 48px 0;
        max-width: 1130px;
        margin: 0 auto;
    }

    .nav-div div {
        font-size: 16px;
        padding: 0;
    }

    .main-tags li {
        line-height: 22px;
        font-weight: 500;
        white-space: nowrap;

    }

    #top-city {
        margin-top: 24px;
        /* gap: 16px; */
    }

    .extra-height {
        max-height: 40px;
    }

    #footer-title,
    #footer-title-2,
    #footer-title-3,
    #footer-title-4,
    #footer-title-5 {
        text-align: left;
        font-family: 'TT-Para';
        margin-top: 0;
        margin-bottom: 8px;

    }

    .category-1,
    .category-2,
    .category-3,
    .category-4 {
        display: flex;
        flex-direction: column;

        flex: 1 1 0;
        /* max-height: 272px; */
    }



    .footer-sections {
        display: flex;
        flex-direction: column;
    }



    .footer-section-collection {
        display: flex;
        flex-direction: row;
        text-align: left;
    }

    .footer-section ul {
        max-height: 426px;
        display: flex;
        padding: 32px 0 0 0;
    }



    .footer-bottom {
        display: flex;
        padding: 0;
        margin: 0;
        flex-direction: row;
        justify-content: space-between;
        padding: 32px 0;
    }

    .tos p {
        font-size: 12px;
        height: 18px;
    }

    .tos {
        margin: 0;
    }

    .social-icons svg {
        width: 24px;

        height: 24px;
    }

    .social {
        width: 96px;
        justify-content: space-between;
    }

    .language-select svg {
        width: 24px;
        height: 24px;
    }

    .language-select {
        margin: 0 12px;
        padding: 4px 12px;
    }


    .social-icons {
        align-items: flex-start;
    }

    .entire-footer-wrapper {
        width: 1184px;
    }

    .entire-footer-container {
        width: 100vw;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    #top-cuisine ul,
    #top-chain ul {
        margin-bottom: 0;
    }

    #login {
        display: none;
    }

    #signup {
        display: flex;
    }

    /* .button-collection button {
        content: "Signin In";
        visibility: hidden;
    }
    .button-collection button::after{
        content: "SignIn";
        visibility: visible;
        
    } */


}


@media screen and (min-width:960px) {
    div.ad::before {
        height: 72px;
    }

    #for-saved-address {
        display: flex;
        margin-bottom: 24px;
    }

    #signup {
        display: none;
    }

    .intro .logo-div {
        transform: translateY(-156px);
    }

    .intro .logo-div svg {
        width: 155px;
        height: 18px;
    }

    .intro .logo-div svg:first-child {
        width: 42px;
        height: 24px;
        margin-right: 12px;
    }

    /* break point for footer  */
    .footer-bottom {
        padding: 32px 0;
        /* height: 92px; */


    }

    footer {
        display: flex;
        justify-content: left;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
    }

    .store-buttons {
        /* padding-top: 32px; */
        justify-content: flex-start;
        align-items: flex-end;
    }

    .nav-div span {
        font-size: 16px;
        font-family: 'TTNew';
        letter-spacing: 0.5px;
        margin-top: 2px;
    }

    div.categories {
        /* margin: 0 12px; */
        height: 346px;
    }

    .footer-sections {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;


        /* padding: 0 12px; */
        /*margin: 0 20px; */
    }

    nav {
        margin: 0 auto;
        max-width: 1130px;
    }

    /* footer section  */
    .footer-container p,
    .footer-container li {
        color: rgb(196, 196, 196);
    }

    .footer-bottom span {
        color: white;
    }

    div.language-select {
        height: 32px;
    }

    .tos {
        height: 36px;
    }
}





@media screen and (min-width:1184px) {
    /* .logo-div {
        transform: scale(1.3);
    } */

    .dasher-wrapper {
        max-width: 1184px;
        /* margin: 0px auto; */
    }

    .dasher-container {
        margin: 0;
        justify-content: center;
    }

    .new-dasher {
        display: flex;
        flex-direction: row;
        margin: 96px 48px;
        padding: 12px;
        max-width: 100%;
    }

    .promo {
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
    }

    .promo img {
        width: 154px;
        height: 154px;
    }

    .new-image-container {
        text-align: center;
    }

    .new-content-wrapper {
        min-height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .new-content-wrapper h2 {
        text-align: center;
    }

    .new-content-wrapper p {
        margin-top: 8px;
        text-align: center;
    }

    .new-contents {
        margin-top: -5px;
    }

    .promo-button-wrapper {
        justify-content: center;
        margin-top: 12px;

    }

    .promo-button-wrapper a {
        font-size: 18px;
    }

    .button-collection {
        font-size: 14px;
    }





    .new-find-div-div aside h4 {
        width: 360px;
        padding: 0;
        margin: 20px 0;
        font-family: 'TT-Para';
        line-height: 40px;
        text-decoration: none;
    }

    .new-find-div-div aside p {

        width: 400px;
        height: 66px;
        margin-bottom: 0;
    }

    .content-wrapper h6 {
        margin-top: 20px;
        width: 400px;
        height: 24px;
    }

    /* carousel div  */
    .carousel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carousel-div {
        max-width: 1184px;
    }

    /* a */

    /* fro margin and width */


    .new-find-div-div aside h4.conv-header {
        margin-bottom: 0;
        max-width: 80%;
        height: 120px
    }

    .new-find-div-div aside h4.conv-header+p {
        margin-top: 20px;
        height: 44px;
    }

    /* fro that div after carousal div  */
    h4.width80 {
        max-width: 80%;
        /* height: 120px */
    }




    .moreWidth {
        width: auto;
    }


    .main-tags {
        grid-template-columns: repeat(4, 1fr);
    }


    #see-more {
        font-weight: bold;

        font-size: 20px;
        letter-spacing: 0.2px;
    }

    .store-buttons a:nth-child(2) {
        margin-top: 12px;
    }

    #footer-title-2,
    #footer-title-3,
    #footer-title-4 {
        margin-bottom: 10px;
             
        margin-top: 0;
    }
  
       

    
    .tos {
        display: flex;
        justify-content: left;
        width: 100%;
        align-items: center;
        /* padding: 0 12px; */
    }

    .tos span {
        margin: 0 16px 0 0;
    }

    #icon-span {
        margin-left: 0;
    }


}
